#include "Resources.h"

RES_PHONG_DIRECTIONAL_VERT
RES_PHONG_DIRECTIONAL_FRAG
RES_FADE_VERT
RES_FADE_FRAG
RES_FEEDBACK_VERT
RES_FEEDBACK_FRAG
RES_LINE_VERT
RES_LINE_FRAG
RES_LINE_GEOM
RES_KALEIDOSCOPE_VERT
RES_KALEIDOSCOPE_FRAG

